* {
    margin: 0;
    padding: 0;
    font-family: 'inter', sans-serif;
}

header {
    background: #00B579;
    height: 11rem;
}

#background {
    height: 5rem;
    width:100%;
    background: #00B579;
    position: absolute;
    top: 11rem;
    right:0;
    z-index: -1;
}

nav {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

#logo {
    display: flex;
    margin-left: 2rem;
}

#logo-h1 {
    font-family: 'poppins', 'sans-serif' !important;
    font-weight: 600;
    font-size: 3.75rem;
    padding-right: 1.5rem;
}

#hamburger {
    margin: auto 10rem auto 0;
}
.bar {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

#signup-box {
    height: auto;
    width: 70%;
    max-width: 50rem;
    margin: auto auto;
    padding: 3rem;
    background-color: #FFF;
    border: 1px solid rgba(0,0,0,0.5);
}

#signup-box h1 {
    text-align: center;
    padding-bottom: 2rem ;
    border-bottom: 1px solid rgba(0,0,0,1);
}

#bottom-boxes{
    display: flex;
    justify-content: space-between;
}

#box1 {
    max-width: 20rem;
    height: 22rem;
    padding: 1rem;
    margin: 1rem;
}

#box1 img {
    margin: auto auto;
    width: 100%;
    height: 100%;
}

#box2 {
    height: 20rem;
    width: 40%;
    max-width: 20rem;
    padding: 1rem;
    margin: 2rem;
    border: 1px solid rgba(0,0,0,0.7);

    display:flex;
    flex-direction: column;
}

#box2 h2 {
    text-align: center;
    font-weight: 700;
    margin: 1rem 0 1.5rem 0;
}

#box2 input {
    width: 90%;
    border: 1px solid rgba(15,15,15,0.5);
    margin: 0.75rem auto 0.5rem auto;
    border-radius: 20px;
    background-color: rgba(48,48,62,0.1);
    color: rgba(15,15,15,0.5);
    padding: 0.75rem;

    font-size: 1rem;
    font-weight: 600;
}
form button {
    width: 9rem;
    margin: 2rem auto 0.5rem auto;
    border-radius: 20px;
    border: 3px solid rgba(250,174,43,1);
    background: rgba(250,174,43,0.5);
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    color:rgba(15,15,15,0.5);
}
form {
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;
    text-align: center;
}

form h5 {
    font-size: 0.6rem;
    margin: 0 auto 0 auto;
    width: 8rem;
    color: rgba(15,15,15,0.8);
}

form a {
    text-decoration: none;
    color: rgba(4, 105, 225, 0.9);
}

#signup {
  margin-top: 1.5em;
  width: 100%;
  text-align: center;
}
#signup a{
  color: rgba(0,181,121,0.6);
}
